.btn-outline-none:focus {
  outline: none;       
}

.button0:hover {
  border: 2px solid #000;
}

.button1 {
  cursor: pointer;
  border: 0;
  background-color: #E55050;
  color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.button1:hover {
  letter-spacing: 3px;
  background-color: #E55050;
  box-shadow: 0px 5px 30px 0px #E55050; 
}

.button2 {
  --primary-color: #FF9B45;
  --secondary-color: #fff;
  --hover-color: #444;
  --arrow-width: 10px;      
  --arrow-stroke: 2px;
  width: 70%;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.7em;
}
.button2 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}
.button2 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}
.button2:hover {
  background: var(--hover-color);
  box-shadow: -4px 6px 2px var(--primary-color);
}
.button2:hover .arrow {
  background: var(--secondary-color);
}
.button2:hover .arrow:before {
  right: 0;
}


.button3 {
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.button3:hover {
  background-color: #AA60C8;
  box-shadow: 0px 15px 20px rgba(170, 96, 200, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.button3:active {
  transform: translateY(-1px);
}

.button4 {
  --color: #578FCA;
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  color: var(--color);
}
.button4:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.button4:hover {
  color: #fff;
}
.button4:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.button4:hover:before {
  top: -30px;
  left: -30px;
}
.button4:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.button5 {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.button5::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.button5:hover {
  color: #fff;
}
.button5:hover::before {
  box-shadow: inset 0 0 0 10em #4D55CC;
}

.button6 {
  color: #FF9B45;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}
.button6:hover {
  color: white;
}
.button6::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #FF9B45;
  z-index: -1;
  transition: all 1s;
}
.button6:hover::before {
  width: 160%;
}

.button7 {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #E55050;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.button7:hover {
  box-shadow: 1px 1px 100px #E55050;
  color: #E55050;
}
.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.button8 {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.button8 span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}
.button8 span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}
.button8:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #AA60C8;
}
.button8:hover {
  color: white;
}
.button8:active span::before {
  background: #AA60C8;
}

.button9 {
  border: 3px solid #FADA7A;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.button9:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FADA7A;
  z-index: -1;
}
.button9:hover, button:focus {
  color: white;
}
.button9:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button9:active {
  transform: scale(0.9);
}

.button10 { 
  width: 60%;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.button10:hover {
 color: black;
}
.button10:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}
.button10:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.button11 {
  --bg: #000;
  --hover-bg: #FF9B45;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  background: var(--hover-bg);
  transition: 0.2s;
}

.button11:hover {
  transform: translate(-0.3rem, -0.3rem);
  background: var(--hover-bg);
  box-shadow: 0.3rem 0.3rem var(--bg);
}

.button11:active {
  transform: translate(0);
  box-shadow: none;
}

.button12 { 
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button12:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button13 {
  width: 60%;
  border-radius: 40px;
  background-color: #67AE6E;
  transition: all 0.3s ease;
  box-shadow: rgb(77, 139, 85) 0px 10px 0px 0px;
  cursor: pointer;
}
.button13:hover {
  box-shadow: rgb(77, 139, 85) 0px 6px 0px 0px;
}
.button13:active {
  background-color: rgb(77, 139, 85);
  box-shadow: rgb(103, 174, 110) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.button14 {
  cursor: pointer;
  width: 70%;
  border-radius: 30px;
  background-color: #f8f8fd;
  border: 6px solid #578FCA;
  box-shadow: 0px 8px #396C9B;
}
.button14:active {
  position: relative;
  top: 8px;
  border: 6px solid #578FCA;
  box-shadow: 0px 0px;
}
.button14:focus {
  color: #396C9B;
}


