.btn-outline-none:focus {
  outline: none;       
}

.button0:hover {
  border: 2px solid #000;
}

.col-left {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button5 {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.button5::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.button5:hover {
  color: #fff;
}
.button5:hover::before {
  box-shadow: inset 0 0 0 10em #4D55CC;
}

.button6 {
  color: #FF9B45;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}
.button6:hover {
  color: white;
}
.button6::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #FF9B45;
  z-index: -1;
  transition: all 1s;
}
.button6:hover::before {
  width: 160%;
}

.button7 {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}
.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #E55050;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.button7:hover {
  box-shadow: 1px 1px 100px #E55050;
  color: #E55050;
}
.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}












